{% load static %}
{% block head %}
  {% block title %}
    <title>ISSUE TRACKING</title>
    <link rel=stylesheet href={% static 'css/mobile_login.css' %}>
    <link rel=stylesheet href={% static 'css/all_login.css' %}>
  {% endblock title %}
{% endblock head %}
{% block body %}
  <header>
    <h1>ISSUE TRACKING</h1>
  </header>
  <main>
    <form action="" method="post">
      {% csrf_token %}
      {{form.as_div}}
      <input type=submit value=LOGIN>
    </form>
    <a href="">Cont login, contact support</a>
  </main>
{% endblock body %}
{%block scripts %}
{% endblock scripts %}
