#open {
  display: block;
  position: relative;
}
#openlist  {
  width: 295px;
  background: #FFC107;
  position: absolute;
  display: none;
}

#esc {
  display: block;
  position: relative;
}

#esclist  {
  width: 295px;
  background: #F44336;
  position: absolute;
  display: none;
}

.issues {
  display: grid;
  border: solid 1px black;
  border-radius: 5px;
  margin: 2px;
  grid-template-columns: 2fr 1fr;
}
.issues button {
  width: 6em;
}