* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body > header {
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    border-bottom: solid 2px;
}

header figure img {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    object-fit: cover;
}
figure {
    display: flex;
}
#projectassgn {
    display: flex;
    justify-content: center;
    border: solid 1px;
    align-items: center;
}
#projectassgn a {
    display: block;
}
#projectassgn > div {
    border: solid 1px green;
    padding: 1em;
    margin: 1em;
    border-radius: 0.5em;
}
