* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body > header {
    display: flex;
    justify-content: space-between;
    border-bottom: solid black 1px;
    padding: 0 20px
}

header figure img {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    object-fit: cover;
}

figure {
    display: flex;
}

header nav {
    display: flex;
    justify-content: space-around;
    padding: 30px;
}
.total-issues {
    width: 200px;
    height: 120px;
    background-color: #2196F3;
    color: white;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 18px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.total-issues h2 {
    margin: 0;
    font-size: 32px;
}

.total-issues p {
    margin-top: 5px;
    font-size: 14px;
}
.circle-box {
    width: 120px;
    height: 120px;
    background-color: #4CAF50;
    color: white;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 18px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.open-issues {
    background-color: #FFC107;
}
.escalated-issues {
    background-color: #F44336;
}

.priority-box {
    width: 250px;
    background-color: #4CAF50;
    color: white;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.priority-box h3 {
    margin-bottom: 15px;
    font-size: 20px;
}

.priority-box ul {
    list-style-type: none;
    font-size: 16px;
}

.priority-box li {
    margin-bottom: 0px;
}
main {
    flex-grow: 1;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
main h3 {
    margin-bottom: 15px;
    font-size: 20px;
}
section {
    display: flex;
    flex-wrap: wrap;
}

table {
    width: 100%;
    border-collapse: collapse;
    border: solid 2px lightgray;
}

table th, table td {
    padding: 5px;
    text-align: left;
}

table th {
    background-color: #2196F3;
    color: white;
}

table tr:nth-child(even) {
    background-color: #f2f2f2;
}

table tr:hover {
    background-color: #ddd;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
}
tbody th {
    background-color: lightgray;
}
tr:hover {
    cursor: -moz-grab;
}
