
.fcont{
  position: fixed;
  top:0;
  height:100vh;
  width:98%;
  display: none;
  justify-content: center;
  z-index: 6;
  align-items: center;
}
.form-container {
 height: 450px;
 overflow-y: scroll;
 overflow-x: hidden;
 background-color: ghostwhite;
 padding: 30px;
 border-radius: 8px;
 box-shadow: 0 4px 6px rgba(0,0,0,1);
 min-width: 400px;
}
.form-group {
    margin-bottom: 15px;
}
.fcont label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}
.fcont input, textarea, select {
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
    width: 95%;
 }
 .fcont .btn {
     width: 100%;
     padding: 10px;
     background-color: #4CAF50;
     color: white;
     border: none;
     border-radius: 4px;
     cursor: pointer;
}
.fcont .btn:hover {
    background-color: #45a049;
}
