#bodyheader {
  display: flex;
  justify-content: space-between;
}
#bodyheader figure {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#bodyheader figcaption {
  display: flex;
  flex-direction: column;
  text-align: center;
}
#bodyheader a {
  color: green;
  text-decoration: underline;
}
#bodyheader figure img {
  width: 30px;
}
