#notifcnt {
  text-align: right;
  font-weight: bold;
}
#notif {
  position: fixed;
  bottom: 2em;
  right: 1em;
  background: transparent;
  
}

#notif img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: solid 1px;
  background: transparent;
}

#notifcnt, #notif>img:hover {
  cursor: pointer;
}