{% load static %}
<!doctype html>
<html lang="en"><head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="/static/css/0.css">
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/0-index.js"></script>
  </head>
  <body>
    <header id="bodyheader">    
<nav>
  <div>
  <div class="headerdiv">Dashboards
  <div class="p09">sds</div>
  <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" height="20px" width="20px">

<rect x="0" fill="none" width="30" height="30"></rect>

<g>

<path d="M7 10l5 5 5-5"></path>

</g>
  
</svg></div>
  <div class="headerdiv"><div class="p09">
  <header>
    <div>assigned to me</div>
    <div>Recent</div>
    <div>Boards</div>
  </header>
  <div id="rtr">
  <div id="recent"></div>
  <div id="asstome"></div>
  <div id="boards"></div>
</div>
</div>My work
  <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" height="20px" width="20px">

<rect x="0" fill="none" width="30" height="30"></rect>

<g>

<path d="M7 10l5 5 5-5"></path>

</g>

</svg>
</div>
  <div class="headerdiv"><div id="one1" class="p09">
  <div id="lpop">
  <div>Recent</div>
  <ul>
    <li>
      <div class="picon"></div>
      <div class="pname">Issue Tracking</div>
    </li>
    <li>
      <div class="picon"></div>
      <div class="pname">Data visualization</div>
    </li>
  </ul>
  </div>
  <div class="dd">View all Projects</div>
  <div class="dd">Create Project</div>
</div>Projects<svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" height="20px" width="20px">

<rect x="0" fill="none" width="30" height="30"></rect>

<g>

<path d="M7 10l5 5 5-5"></path>

</g>

</svg></div>
  <button class="headerdiv">Create</button>
  </div>
<div id="usr">
  <div id="usrr"></div><img src="/static/img/pp.png" alt="profile picture">
  
</div>
  </nav>
</header>
    <main id="main1">
  
  <section id="projects">
  <div id="projh">
    <h2>Recent projects</h2>
  <h4>All projects</h4>
    </div>
    <article id="project">
      <div class="prj">
      </div><div class="prj">
      </div><div class="prj">
      </div><div class="prj">
      </div><div class="prj">
      </div>
    </article>
  </section><section id="issuesumary">
    <header id="issue">
  <button class="issueh" style="background: green;">worked on</button><button class="issueh" style="background: none;">viewed</button><button class="issueh">assigned to me</button><button class="issueh" style="background: none;">Starred</button>
    </header>
  <div id="wo">
    <div class="issues" id="xza">
  <h3>Today</h3>
  <div class="container">
  <div class="item">
    <div class="itemrh">
      <div class="status"></div>
      <div class="desc">
        <div class="iss">User interface design</div>
        <div clas="prjna">PRJ-1 - issue tracking</div>
      </div>
    </div>
    <div class="itlh">
  <div>Created</div>
  <div class="itemlh">
  <img class="itemlh" src="/static/img/pp.png">
</div>
    </div>
    </div></div>
</div>
  <div class="issues" id="xza">
  <h3>This Week</h3>
  <div class="container">
  <div class="container">
  <div class="item">
    <div class="itemrh">
      <div class="status"></div>
      <div class="desc">
        <div class="iss">Web infrustructure design</div>
        <div clas="prjna">PRJ-1 - issue tracking</div>
      </div>
    </div>
    <div class="itlh">
  <div>Created</div>
  <div class="itemlh">
  <img class="itemlh" src="/static/img/pp.png">
</div>
    </div>
    </div></div><div class="item">
    <div class="itemrh">
      <div class="status"></div>
      <div class="desc">
        <div class="iss">Database design</div>
        <div clas="prjna">PRJ-1 - issue tracking</div>
      </div>
    </div>
    <div class="itlh">
  <div>Created</div>
  <div class="itemlh">
  <img class="itemlh" src="/static/img/pp.png">
</div>
    </div>
    </div></div>
</div>
  </div><div id="viewdd">
    <div class="issues" id="xza">
  <h3>Today</h3>
  <div class="container">
  <div class="item">
    <div class="itemrh">
      <div class="status"></div>
      <div class="desc">
        <div class="iss">User interface design</div>
        <div clas="prjna">PRJ-1 - issue tracking</div>
      </div>
    </div>
    <div class="itlh">
  <div>Created</div>
  <div class="itemlh">
  <img class="itemlh" src="/static/img/pp.png">
</div>
    </div>
    </div><div class="item">
    <div class="itemrh">
      <div class="status"></div>
      <div class="desc">
        <div class="iss">Database edesign</div>
        <div clas="prjna">PRJ-1 - issue tracking</div>
      </div>
    </div>
    <div class="itlh">
  <div>Created</div>
  <div class="itemlh">
  <img class="itemlh" src="/static/img/pp.png">
</div>
    </div>
    </div><div class="item">
    <div class="itemrh">
      <div class="status"></div>
      <div class="desc">
        <div class="iss">Intergration with business central</div>
        <div clas="prjna">PRJ-1 - issue tracking</div>
      </div>
    </div>
    <div class="itlh">
  <div>Created</div>
  <div class="itemlh">
  <img class="itemlh" src="/static/img/pp.png">
</div>
    </div>
    </div></div>
</div>
  <div class="issues" id="xza">
  <h3>Yesterday</h3>
  <div class="container">
  <div class="container">
  <div class="item">
    <div class="itemrh">
      <div class="status"></div>
      <div class="desc">
        <div class="iss">Recruitment module</div>
        <div clas="prjna">PRJ-1 - Kephis ERP</div>
      </div>
    </div>
    <div class="itlh">
  <div>Created</div>
  <div class="itemlh">
  <img class="itemlh" src="/static/img/pp.png">
</div>
    </div>
    </div></div></div>
</div>
  </div><div id="stm">
    <div class="issues" id="xza">
  <h3>Today</h3>
  <div class="container">
  <div class="item">
    <div class="itemrh">
      <div class="status"></div>
      <div class="desc">
        <div class="iss">User interface design</div>
        <div clas="prjna">PRJ-2 - Data visualization</div>
      </div>
    </div>
    <div class="itlh">
  <div>Created</div>
  <div class="itemlh">
  <img class="itemlh" src="/static/img/pp.png">
</div>
    </div>
    </div><div class="item">
    <div class="itemrh">
      <div class="status"></div>
      <div class="desc">
        <div class="iss">Requirement gathering</div>
        <div clas="prjna">PRJ-3 - XYZ-ERP system</div>
      </div>
    </div>
    <div class="itlh">
  <div>Created</div>
  <div class="itemlh">
  <img class="itemlh" src="/static/img/pp.png">
</div>
    </div>
    </div><div class="item">
    <div class="itemrh">
      <div class="status"></div>
      <div class="desc">
        <div class="iss">Intergration with business central</div>
        <div clas="prjna">PRJ-1 - issue tracking</div>
      </div>
    </div>
    <div class="itlh">
  <div>Created</div>
  <div class="itemlh">
  <img class="itemlh" src="/static/img/pp.png">
</div>
    </div>
    </div></div>
</div>
  <div class="issues" id="xza">
  <h3>This week</h3>
  <div class="container">
  <div class="container">
  <div class="item">
    <div class="itemrh">
      <div class="status"></div>
      <div class="desc">
        <div class="iss">Recruitment module</div>
        <div clas="prjna">PRJ-1 - Kephis ERP</div>
      </div>
    </div>
    <div class="itlh">
  <div>Created</div>
  <div class="itemlh">
  <img class="itemlh" src="/static/img/pp.png">
</div>
    </div>
    </div></div></div>
</div>
  </div><div id="strr">
    <div class="issues" id="xza">
  
  <div class="container">
  <div class="item">
    <div class="itemrh">
      <div class="status"></div>
      <div class="desc">
        <div class="iss">User interface design</div>
        <div clas="prjna">PRJ-2 - Data visualization</div>
      </div>
    </div>
    <div class="itlh">
  <div>Created</div>
  <div class="itemlh">
  <img class="itemlh" src="/static/img/pp.png">
</div>
    </div>
    </div><div class="item">
    <div class="itemrh">
      <div class="status"></div>
      <div class="desc">
        <div class="iss">Requirement gathering</div>
        <div clas="prjna">PRJ-3 - XYZ-ERP system</div>
      </div>
    </div>
    <div class="itlh">
  <div>Created</div>
  <div class="itemlh">
  <img class="itemlh" src="/static/img/pp.png">
</div>
    </div>
    </div><div class="item">
    <div class="itemrh">
      <div class="status"></div>
      <div class="desc">
        <div class="iss">Intergration with business central</div>
        <div clas="prjna">PRJ-1 - issue tracking</div>
      </div>
    </div>
    <div class="itlh">
  <div>Created</div>
  <div class="itemlh">
  <img class="itemlh" src="/static/img/pp.png">
</div>
    </div>
    </div></div>
</div>
  
  </div>
  </section>
    </main>
  <main id="main2">
<nav>
 <button class="IS" id="init">Summary</button><button class="IS">Timeline</button><button class="IS">Board</button><button class="IS">List</button>



</nav>
  
<section>
  <h3>projects/<span id=prname>issues tracking</span></h3>
<div id="lll">
  <header>
  <h4>List</h4>
  <header id="str1">
    <input type="text" placeholder="Search list">
  </header>
</header>
<div class="table-container"><table class="projects-table">
 <thead>
   <tr class="table-header">
     <th>
       <button class="sort-button">Issu ID
         
       </button>
     </th>
     <th>
       <button class="sort-button">issue Name
         
        </button>
      </th>
      <th>
        <button class="sort-button">@assignee
        </button>
      </th>
      <th>
        <button class="sort-button">Priority
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-arrow-up-down sort-icon">
          <path d="m21 16-4 4-4-4"></path>
          <path d="M17 20V4"></path>
          <path d="m3 8 4-4 4 4"></path>
          <path d="M7 4v16"></path>
          </svg>
        </button>
       </th>
       <th>
         <button class="sort-button">Created
  <svg fill="#000000" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="20px" height="20px" viewBox="0 0 610.398 610.398" xml:space="preserve">
<g>
	<g>
		<path d="M159.567,0h-15.329c-1.956,0-3.811,0.411-5.608,0.995c-8.979,2.912-15.616,12.498-15.616,23.997v10.552v27.009v14.052    c0,2.611,0.435,5.078,1.066,7.44c2.702,10.146,10.653,17.552,20.158,17.552h15.329c11.724,0,21.224-11.188,21.224-24.992V62.553    V35.544V24.992C180.791,11.188,171.291,0,159.567,0z"></path>
		<path d="M461.288,0h-15.329c-11.724,0-21.224,11.188-21.224,24.992v10.552v27.009v14.052c0,13.804,9.5,24.992,21.224,24.992    h15.329c11.724,0,21.224-11.188,21.224-24.992V62.553V35.544V24.992C482.507,11.188,473.007,0,461.288,0z"></path>
		<path d="M539.586,62.553h-37.954v14.052c0,24.327-18.102,44.117-40.349,44.117h-15.329c-22.247,0-40.349-19.79-40.349-44.117    V62.553H199.916v14.052c0,24.327-18.102,44.117-40.349,44.117h-15.329c-22.248,0-40.349-19.79-40.349-44.117V62.553H70.818    c-21.066,0-38.15,16.017-38.15,35.764v476.318c0,19.784,17.083,35.764,38.15,35.764h468.763c21.085,0,38.149-15.984,38.149-35.764    V98.322C577.735,78.575,560.671,62.553,539.586,62.553z M527.757,557.9l-446.502-0.172V173.717h446.502V557.9z"></path>
		<path d="M353.017,266.258h117.428c10.193,0,18.437-10.179,18.437-22.759s-8.248-22.759-18.437-22.759H353.017    c-10.193,0-18.437,10.179-18.437,22.759C334.58,256.074,342.823,266.258,353.017,266.258z"></path>
		<path d="M353.017,348.467h117.428c10.193,0,18.437-10.179,18.437-22.759c0-12.579-8.248-22.758-18.437-22.758H353.017    c-10.193,0-18.437,10.179-18.437,22.758C334.58,338.288,342.823,348.467,353.017,348.467z"></path>
		<path d="M353.017,430.676h117.428c10.193,0,18.437-10.18,18.437-22.759s-8.248-22.759-18.437-22.759H353.017    c-10.193,0-18.437,10.18-18.437,22.759S342.823,430.676,353.017,430.676z"></path>
		<path d="M353.017,512.89h117.428c10.193,0,18.437-10.18,18.437-22.759c0-12.58-8.248-22.759-18.437-22.759H353.017    c-10.193,0-18.437,10.179-18.437,22.759C334.58,502.71,342.823,512.89,353.017,512.89z"></path>
		<path d="M145.032,266.258H262.46c10.193,0,18.436-10.179,18.436-22.759s-8.248-22.759-18.436-22.759H145.032    c-10.194,0-18.437,10.179-18.437,22.759C126.596,256.074,134.838,266.258,145.032,266.258z"></path>
		<path d="M145.032,348.467H262.46c10.193,0,18.436-10.179,18.436-22.759c0-12.579-8.248-22.758-18.436-22.758H145.032    c-10.194,0-18.437,10.179-18.437,22.758C126.596,338.288,134.838,348.467,145.032,348.467z"></path>
		<path d="M145.032,430.676H262.46c10.193,0,18.436-10.18,18.436-22.759s-8.248-22.759-18.436-22.759H145.032    c-10.194,0-18.437,10.18-18.437,22.759S134.838,430.676,145.032,430.676z"></path>
		<path d="M145.032,512.89H262.46c10.193,0,18.436-10.18,18.436-22.759c0-12.58-8.248-22.759-18.436-22.759H145.032    c-10.194,0-18.437,10.179-18.437,22.759C126.596,502.71,134.838,512.89,145.032,512.89z"></path>
	</g>
</g>
</svg>
</button></th><th>
         <button class="sort-button">Updated
         <svg fill="#000000" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="20px" height="20px" viewBox="0 0 610.398 610.398" xml:space="preserve">
<g>
	<g>
		<path d="M159.567,0h-15.329c-1.956,0-3.811,0.411-5.608,0.995c-8.979,2.912-15.616,12.498-15.616,23.997v10.552v27.009v14.052    c0,2.611,0.435,5.078,1.066,7.44c2.702,10.146,10.653,17.552,20.158,17.552h15.329c11.724,0,21.224-11.188,21.224-24.992V62.553    V35.544V24.992C180.791,11.188,171.291,0,159.567,0z"></path>
		<path d="M461.288,0h-15.329c-11.724,0-21.224,11.188-21.224,24.992v10.552v27.009v14.052c0,13.804,9.5,24.992,21.224,24.992    h15.329c11.724,0,21.224-11.188,21.224-24.992V62.553V35.544V24.992C482.507,11.188,473.007,0,461.288,0z"></path>
		<path d="M539.586,62.553h-37.954v14.052c0,24.327-18.102,44.117-40.349,44.117h-15.329c-22.247,0-40.349-19.79-40.349-44.117    V62.553H199.916v14.052c0,24.327-18.102,44.117-40.349,44.117h-15.329c-22.248,0-40.349-19.79-40.349-44.117V62.553H70.818    c-21.066,0-38.15,16.017-38.15,35.764v476.318c0,19.784,17.083,35.764,38.15,35.764h468.763c21.085,0,38.149-15.984,38.149-35.764    V98.322C577.735,78.575,560.671,62.553,539.586,62.553z M527.757,557.9l-446.502-0.172V173.717h446.502V557.9z"></path>
		<path d="M353.017,266.258h117.428c10.193,0,18.437-10.179,18.437-22.759s-8.248-22.759-18.437-22.759H353.017    c-10.193,0-18.437,10.179-18.437,22.759C334.58,256.074,342.823,266.258,353.017,266.258z"></path>
		<path d="M353.017,348.467h117.428c10.193,0,18.437-10.179,18.437-22.759c0-12.579-8.248-22.758-18.437-22.758H353.017    c-10.193,0-18.437,10.179-18.437,22.758C334.58,338.288,342.823,348.467,353.017,348.467z"></path>
		<path d="M353.017,430.676h117.428c10.193,0,18.437-10.18,18.437-22.759s-8.248-22.759-18.437-22.759H353.017    c-10.193,0-18.437,10.18-18.437,22.759S342.823,430.676,353.017,430.676z"></path>
		<path d="M353.017,512.89h117.428c10.193,0,18.437-10.18,18.437-22.759c0-12.58-8.248-22.759-18.437-22.759H353.017    c-10.193,0-18.437,10.179-18.437,22.759C334.58,502.71,342.823,512.89,353.017,512.89z"></path>
		<path d="M145.032,266.258H262.46c10.193,0,18.436-10.179,18.436-22.759s-8.248-22.759-18.436-22.759H145.032    c-10.194,0-18.437,10.179-18.437,22.759C126.596,256.074,134.838,266.258,145.032,266.258z"></path>
		<path d="M145.032,348.467H262.46c10.193,0,18.436-10.179,18.436-22.759c0-12.579-8.248-22.758-18.436-22.758H145.032    c-10.194,0-18.437,10.179-18.437,22.758C126.596,338.288,134.838,348.467,145.032,348.467z"></path>
		<path d="M145.032,430.676H262.46c10.193,0,18.436-10.18,18.436-22.759s-8.248-22.759-18.436-22.759H145.032    c-10.194,0-18.437,10.18-18.437,22.759S134.838,430.676,145.032,430.676z"></path>
		<path d="M145.032,512.89H262.46c10.193,0,18.436-10.18,18.436-22.759c0-12.58-8.248-22.759-18.436-22.759H145.032    c-10.194,0-18.437,10.179-18.437,22.759C126.596,502.71,134.838,512.89,145.032,512.89z"></path>
	</g>
</g>
</svg></button></th><th><button class="sort-button">Status<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-arrow-up-down sort-icon"><path d="m21 16-4 4-4-4"></path><path d="M17 20V4"></path><path d="m3 8 4-4 4 4"></path><path d="M7 4v16"></path></svg></button></th><th>
        <button class="sort-button">@Reporter
        </button>
      </th></tr></thead>


<tbody><tr class="table-row"><td class="table-cell">IS-005</td><td class="table-cell">Database design</td><td class="table-cell">
  <div id="tui">
    <img src="/static/img/pp.png" width="24px" height="24px">
    kiptoo
  </div>
</td><td class="table-cell">High</td><td class="table-cell">2024-03-11</td><td class="table-cell">2024-03-11</td><td class="table-cell"><span class="status-badge">active</span></td><td class="table-cell">
  <div id="tui">
    <img src="/static/img/pp.png" width="24px" height="24px">
    kiptoo
  </div>
</td></tr><tr class="table-row"><td class="table-cell">IS-006</td><td class="table-cell">Requirements gathering</td><td class="table-cell">
  <div id="tui">
    <img src="/static/img/pp.png" width="24px" height="24px">
    kiptoo
  </div>
</td><td class="table-cell">High</td><td class="table-cell">2024-03-11</td><td class="table-cell">2024-03-11</td><td class="table-cell"><span class="status-badge">active</span></td><td class="table-cell">
  <div id="tui">
    <img src="/static/img/pp.png" width="24px" height="24px">
    kiptoo
  </div>
</td></tr></tbody>

</table></div>
</div>
  <div id="ccc">
  <h4>Board</h4>
  <section class="ll">
    
    <section class="rt">
  <header>To Do</header>
  <div class="it">
    <div id="po">1st</div>
  </div><div class="it">
    <div id="po">1st</div>
  </div>
    </section><section class="rt">
  <header>In progress</header>
  <div class="it">
    <div id="po">1st</div>
  </div>
    </section><section class="rt">
  <header>Done</header>
  <div class="it">
    <div id="po">1st</div>
  </div><div class="it">
    <div id="po">1st</div>
  </div>
    </section>
  </section>
    </div><div id="sumc">
  <h4>Summary</h4>
  <section class="ll">
  <header id="sumch">
    <div class="poi">
      <div class="ssi"></div>
      <div class="qw">
        <div>1 Completed</div>
        <div>In last 7 days</div>
      </div>
    </div><div class="poi">
      <div class="ssi"></div>
      <div class="qw">
        <div>1 Completed</div>
        <div>In last 7 days</div>
      </div>
    </div><div class="poi">
      <div class="ssi"></div>
      <div class="qw">
        <div>1 Completed</div>
        <div>In last 7 days</div>
      </div>
    </div><div class="poi">
      <div class="ssi"></div>
      <div class="qw">
        <div>1 Completed</div>
        <div>In last 7 days</div>
      </div>
    </div>
  </header>
  <div class="r1">
    <article class="info"></article>
    <article class="info"></article>
    <article class="info"></article>
  </div> 
  </section>
    </div>
  </section>
</main>
<div id="ppp">
  <header>
    <div id="strip1">
    <h2>Projects</h2>
    <button>Create project</button>
    </div>
    <input type="text" placeholder="Search project">
  </header>
  <div id="pta" class="table-container"><table class="projects-table">
 <thead>
   <tr class="table-header">
     <th>
       <button class="sort-button">Name</button>
      </th><th>
       <button class="sort-button">Project ID</button>
     </th>
     
      <th>
        <button class="sort-button">Type</button>
      </th>
      <th>
        <button class="sort-button">Lead
          
        </button>
       </th>
       <th>
         <button class="sort-button">Project URL
  
</button></th><th>
         <button class="sort-button">More Actions</button></th></tr></thead>


<tbody><tr class="table-row"><td class="table-cell">Issue Tracking module</td><td class="table-cell">PRJ-001</td><td class="table-cell">Software development</td><td class="table-cell">
  <div id="tui">
    <img src="/static/img/pp.png" width="24px" height="24px">
    kiptoo
  </div>
</td><td class="table-cell">
<url>Http://127.0.0.1:8089
  </url>
</td><td class="table-cell">
  <svg height="8" width="40">
    <circle fill="black" r="4" cy="4" cx="4"></circle><circle fill="black" r="4" cy="4" cx="20"></circle><circle fill="black" r="4" cy="4" cx="36"></circle>
       </svg>
</td></tr><tr class="table-row"><td class="table-cell">company XYZ ERP system</td><td class="table-cell">PRJ-002</td><td class="table-cell">Business Process re-engineering</td><td class="table-cell">
  <div id="tui">
    <img src="/static/img/pp.png" width="24px" height="24px">
    kiptoo
  </div>
</td><td class="table-cell">
<url>Http://127.0.0.1:8089
  </url>
</td><td class="table-cell">
  <svg height="8" width="40">
    <circle fill="black" r="4" cy="4" cx="4"></circle><circle fill="black" r="4" cy="4" cx="20"></circle><circle fill="black" r="4" cy="4" cx="36"></circle>
       </svg>
</td></tr></tbody>

</table></div>
</div>

</body></html>
