{% load static %}
<!doctype html>
<html lang="en"><head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="/static/css/0.css">
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/0-index.js"></script>
  </head>
  <body>
    <header id="bodyheader">    
<nav>
  <div>
  <div class="headerdiv">Dashboards
  <div id="ppoo" class="p09">sds</div>
  <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" height="20px" width="20px">

<rect x="0" fill="none" width="30" height="30"></rect>

<g>

<path d="M7 10l5 5 5-5"></path>

</g>
  
</svg></div><div class="headerdiv">Dashboards
  <div class="p09">sds</div>
  <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" height="20px" width="20px">

<rect x="0" fill="none" width="30" height="30"></rect>

<g>

<path d="M7 10l5 5 5-5"></path>

</g>
  
</svg></div>
  <div class="headerdiv"><div class="p09" >sds</div>My work
  <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" height="20px" width="20px">

<rect x="0" fill="none" width="30" height="30"></rect>

<g>

<path d="M7 10l5 5 5-5"></path>

</g>

</svg>
</div>
  <div class="headerdiv"><div class="p09">sds</div>Projects<svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" height="20px" width="20px">

<rect x="0" fill="none" width="30" height="30"></rect>

<g>

<path d="M7 10l5 5 5-5"></path>

</g>

</svg></div>
  <button class="headerdiv">Create</button>
  </div>
<div id="usr">
  <div id="usrr"></div><img src="/static/img/pp.png" alt="profile picture">
  
</div>
  </nav>
</header>
    <main id="main1">
  
  <section id="projects">
  <div id="projh">
    <h2>Recent projects</h2>
  <h4>All projects</h4>
    </div>
    <article id="project">
      <div class="prj">
      </div><div class="prj">
      </div><div class="prj">
      </div><div class="prj">
      </div><div class="prj">
      </div>
    </article>
  </section><section id="issuesumary">
    <header id="issue">
  <button class="issueh">
    worked on
  </button><button class="issueh">
viewed
  </button><button class="issueh">assigned to me <span>0</span></button><button class="issueh">Starred</button>
    </header>
    <div class="issues">
  <h3>This week</h3>
  <div class="container">
  <div class="item">
    <div class="itemrh">
      <div class="status">
      </div>
      <div class="desc">
        <div class="iss">issue name: description</div>
        <div clas="prjna">Project name: description</div>
      </div>
    </div>
    <div class="itlh">
  <div>Created</div>
  <div class="itemlh"></div>
    </div>
    </div><div class="item">
    <div class="itemrh">
      <div class="status">
      </div>
      <div class="desc">
        <div class="iss">issue name: description</div>
        <div clas="prjna">Project name: description</div>
      </div>
    </div>
    <div class="itlh">
  <div>Created</div>
  <div class="itemlh"></div>
    </div>
    </div><div class="item">
    <div class="itemrh">
      <div class="status">
      </div>
      <div class="desc">
        <div class="iss">issue name: description</div>
        <div clas="prjna">Project name: description</div>
      </div>
    </div>
    <div class="itlh">
  <div>Created</div>
  <div class="itemlh"></div>
    </div>
    </div></div>
</div>

  </section>
    </main>
  <main id="main2">
<nav>
 <button class="IS" id="init">Summary</button><button class="IS">Timeline</button><button class="IS">Board</button><button class="IS">List</button>



</nav>
  
<section>
  <h3>projects/issues tracking</h3>
<div id="lll">
  <header>
  <h4>List</h4>
  <header id="str1">
    <input type="text" placeholder="Search list">
  </header>
</header>
  <table>
  <thead>
  <tr>
    <th><input type="checkbox"></th>
    <th><div>Type</div></th>
    <th><div>Key</div></th>
    <th><div>Summary</div></th>
    <th><div>Status</div></th>
    <th><div>©assignee</div></th>
    <th><div>Due date</div></th>
    <th><div>Created at</div></th>
    <th><div>Updated at</div></th>
    <th><div>Reporter</div></th>
  </tr>
</thead>
  </table>
</div>
  <div id="ccc">
  <h4>Board</h4>
  <section class="ll">
    
    <section class="rt">
  <header>To Do</header>
  <div class="it">
    <div id="po">1st</div>
  </div><div class="it">
    <div id="po">1st</div>
  </div>
    </section><section class="rt">
  <header>In progress</header>
  <div class="it">
    <div id="po">1st</div>
  </div>
    </section><section class="rt">
  <header>Done</header>
  <div class="it">
    <div id="po">1st</div>
  </div><div class="it">
    <div id="po">1st</div>
  </div>
    </section>
  </section>
    </div><div id="sumc">
  <h4>Summary</h4>
  <section class="ll">
  <header id="sumch">
    <div class="poi">
      <div class="ssi"></div>
      <div class="qw">
        <div>1 Completed</div>
        <div>In last 7 days</div>
      </div>
    </div><div class="poi">
      <div class="ssi"></div>
      <div class="qw">
        <div>1 Completed</div>
        <div>In last 7 days</div>
      </div>
    </div><div class="poi">
      <div class="ssi"></div>
      <div class="qw">
        <div>1 Completed</div>
        <div>In last 7 days</div>
      </div>
    </div><div class="poi">
      <div class="ssi"></div>
      <div class="qw">
        <div>1 Completed</div>
        <div>In last 7 days</div>
      </div>
    </div>
  </header>
  <div class="r1">
    <article class="info"></article>
    <article class="info"></article>
    <article class="info"></article>
  </div> 
  </section>
    </div>
  </section></main>
  <div id="ppp">
  <header>
    <div id="strip1">
    <h2>Projects</h2>
    <button>Create project</button>
    </div>
    <input type="text" placeholder="Search project">
  </header>
  <div id="p">
    <div id="table">
      <div id="thead">
        <div id="tr">
  <div class="th">Name</div>
  <div class="th">Key</div>
  <div class="th">Type</div>
  <div class="th">Lead</div>
  <div class="th">Project URL</div>
  <div class="th">More actions</div>
 </div></div>
<div id="tbody">
      
        <div id="tr">
  <div class="thp">Name</div>
  <div class="th">Key</div>
  <div class="th">Type</div>
  <div class="thl">
  <div class="ui"></div>
  <div>Lead</div>
</div>
  <div class="th">Project URL</div>
  <div class="th">More actions</div>
 </div><div id="tr">
  <div class="thp">Name</div>
  <div class="th">Key</div>
  <div class="th">Type</div>
  <div class="thl">
  <div class="ui"></div>
  <div>Lead</div>
</div>
  <div class="th">Project URL</div>
  <div class="th">More actions</div>
 </div><div id="tr">
  <div class="thp">Name</div>
  <div class="th">Key</div>
  <div class="th">Type</div>
  <div class="thl">
  <div class="ui"></div>
  <div>Lead</div>
</div>
  <div class="th">Project URL</div>
  <div class="th">More actions</div>
 </div></div>
    </div>
  </div>
</div>




<style type="text/css"></style>
</body></html>
