<table class="priority-table">
  <caption>
    <h3>Priority based order</h3>
  </caption>
  <thead>
    <tr>
      <th scope=col>Issue ID</th>
      <th scope=col>
        <label for=Type>Type</label>
        <select id=Type name=Type>
          <option value="All">All</option>
          <option value=Login>Login</option>
          <option value=PurschaseOrder>Purchase Orders</option>
        </select>
      </th>
      <th scope=col>Arrival Date</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td scope=row>#001</td>
      <td>Login</td>
      <td>24/02/2001, 11.20pm</td>
    </tr>
  </tbody>
</table>
