<table class="priority-table">
  <caption>
    <h3>Priority based order</h3>
  </caption>
  <thead>
    <tr>
      <th scope=col>Issue ID</th>
      <th scope=col>
        <label for=Type>Type</label>
        <select id=Type name=Type>
          <option value="All">All</option>
          <option value=Login>Login</option>
          <option value=PurschaseOrder>Purchase Orders</option>
        </select>
      </th>
      <th scope=col>Arrival Date</th>
    </tr>
  </thead>
  <tbody>
    {% for issue in priority %}
    <tr>
      <td scope=row>{{issue.id}}</td>
      <td>{{issue.issue.Type}}</td>
      <td>{{issue.issued_at}}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
