<table>
  <caption>
  <h3>All Issues List</h3>
  </caption>
  <thead>
    <th>Issue ID</th>
    <th>
      <label for=Type>Type</label>
      <select id=Type name=Type>
        <option value=All>All</option>
        <option>Login</option>
        <option>Purchaseorders</option>
      </select>
    </th>
    <th>
      <label for=id>Priority</label>
      <select id=priority name=priority>
        <option value="Arrival Time">Arrival Time</option>
        <option value="High">High</option>
        <option value="Medium">Medium</option>
        <option value="Low">Low</option>
    </th>
    <th>
      Status
      <select id=status name=status>
        <option value="All">All</option>
        <option value="Open">Open</option>
        <option value=Pending>Pending</option>
        <option value=Closed>Closed</option>
      </select>
    </th>
  </thead>
  <tbody>
    <tr>
      <td span=row>001</td>
      <td>Login</td>
      <td>High</td>
      <td>Open</td>
    </tr>
  </tbody>
</table>
