<div class="total-issues">
  <a href="">
    <p>Total Issues</p>
    <h2>450</h2>
  </a>
</div>
<a href="" id=open>
<div class="circle-box open-issues">
  <h2>120</h2>
   <p>Open</p>
 </div>
<div id=openlist>
    <div class=issues>
        <div>Issue Type</div>
        <div>dec 17</div>
        <button>Open</button>
     </div>
</div>
</a>
<a href="" id=esc>
<div class="circle-box escalated-issues">
  <h2>30</h2>
  <p>Escalated</p>
</div>
<div id=esclist>
  <div class=issues>
      <div>Issue Type</div>
      <div>dec 17</div>
      <button>Open</button>
   </div>
</div>
</a>
<div class="priority-box">
 <h3>Issues Summary Based on Priority</h3>
 <ul>
   <li><a href=''>High: <span>40</span></a></li>
   <li><a href="">Medium: <span>120</span></a></li>
   <li><a href="">Low: <span>80</span></a></li>
  </ul>
</div>
