<div class="total-issues">
  <a href=#issuetable>
    <p>Total Issues</p>
    <h2>{{total}}</h2>
  </a>
</div>
<a id=open>
<div class="circle-box open-issues">
  <div id=openi>
    <div class=btns>
      <button class=IS>Close</button>
    </div>
    <div class=issuec>
    {% for issue in open_issues %}
    <div class=issuec_item>
      <div>Type:{{issue.issue.Type}}</div>
      <div>Issued At:{{issue.issued_at}}</div>
      <div>Priority:{{issue.priority}}</div>
      <button>Open</button>
    </div> 
    {% endfor %}
    </div>
  </div>
  <h2>{{open}}</h2>
   <p>Open</p>
 </div>
<div id=openlist>
    <div class=issues>
        <div>Issue Type</div>
        <div>dec 17</div>
        <button>Open</button>
     </div>
</div>
</a>
<a id=esc>
<div class="circle-box escalated-issues">
  <div id=esci>
    <div class=btns>
      <button class=IS>Close</button>
    </div>
    <div class=issuec>
    {% for issue in escalated_issues %}
    <div>
      <div>{{issue.issue.Type}}<div>
      <div>{{issue.issued_at}}</div>
      <div>{{issue.priority}}</div>
    </div>
    {% endfor %}
    </div>
  </div>
  <h2>{{escalated}}</h2>
  <p>Escalated</p>
</div>
<div id=esclist>
  <div class=issues>
      <div>Issue Type</div>
      <div>dec 17</div>
      <button>Open</button>
   </div>
</div>
</a>
<div class="priority-box">
 <h3>Issues Summary Based on Priority</h3>
 <ul>
   <li><a>High: <span>{{high}}</span></a>

     <div class=pp>
       <button>Close</button>
       {% for issue in highp %}
         <div class=iss-item>
           <div>Type:{{issue.Type}}</div>
           <div>Issued at:{{issue.issued_at}}</div>
           <button>Open</button>
         </div>
        {% endfor %}
     </div>
   </li>
   <li><a>Medium: <span>{{medium}}</span></a>
     <div class=pp>
       <button>Close</button>
       {% for issue in mediup %}
         <div class=iss-item>
           <div>Type:{{issue.Type}}</div>
           <div>Issued at:{{issue.issued_at}}</div>
           <button>Open</button>
         </div>
        {% endfor %}
     </div>
   </li>
   <li><a>Low: <span>{{low}}</span></a>
     <div class=pp>
       <button>Close</button>
       {% for issue in lowp %}
         <div class=iss-item>
           <div>Type:{{issue.Type}}</div>
           <div>Issued at:{{issue.issued_at}}</div>
           <button>Open</button>
         </div>
        {% endfor %}
     </div>
   </li>
  </ul>
</div>
