<main id="main1" style="display: block;">
  
  <section id="projects">
  <div id="projh">
    <h2>Recent projects</h2>
  <h4>All projects</h4>
    </div>
    <article id="project">
      <div class="">
<div class="issue-widget">
    <div class="header">
        <div class="icon">
            <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                <path d="M12 10c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2zm0-6c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2zm0 12c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2z"></path>
            </svg>
        </div>
        <div>
            <div class="title">Issuetracking</div>
            <div class="subtitle">Software project</div>
        </div>
    </div>

    <div class="quick-links">Quick links</div>

    <a href="#" class="issue-link">
        <span>My open issues</span>
        <span class="issue-count">0</span>
    </a>
    <a href="#" class="issue-link">Done issues</a>

    <div class="board-section">
        <span class="board-count">1</span>
        <span>board</span>
        <svg class="chevron-icon" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
            <path d="M7.41 8.59L12 13.17l4.59-4.58L18 10l-6 6-6-6z"></path>
        </svg>
    </div>
</div>
</div><div class="">
<div class="issue-widget">
    <div class="header">
        <div class="icon">
            <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                <path d="M12 10c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2zm0-6c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2zm0 12c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2z"></path>
            </svg>
        </div>
        <div>
            <div class="title">XYZ ERP system</div>
            <div class="subtitle">software development</div>
        </div>
    </div>

    <div class="quick-links">Quick links</div>

    <a href="#" class="issue-link">
        <span>My open issues</span>
        <span class="issue-count">0</span>
    </a>
    <a href="#" class="issue-link">Done issues</a>

    <div class="board-section">
        <span class="board-count">1</span>
        <span>board</span>
        <svg class="chevron-icon" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
            <path d="M7.41 8.59L12 13.17l4.59-4.58L18 10l-6 6-6-6z"></path>
        </svg>
    </div>
</div>
</div>
    </article>
  </section><section id="issuesumary">
    <header id="issue">
  <button class="issueh" style="background: green;">worked on</button><button class="issueh" style="background: none;">viewed</button><button class="issueh" style="background: none;">assigned to me</button><button class="issueh" style="background: none;">Starred</button>
    </header>
  <div id="wo" style="display: block;">
    <div class="issues" id="xza">
  <h3>Today</h3>
  <div class="container">
  <div class="item">
    <div class="itemrh">
      <div class="status"></div>
      <div class="desc">
        <div class="iss">User interface design</div>
        <div clas="prjna">PRJ-1 - issue tracking</div>
      </div>
    </div>
    <div class="itlh">
  <div>Created</div>
  <div class="itemlh">
  <img class="itemlh" src="/static/img/pp.png">
</div>
    </div>
    </div></div>
</div>
  <div class="issues" id="xza">
  <h3>This Week</h3>
  <div class="container">
  <div class="container">
  <div class="item">
    <div class="itemrh">
      <div class="status"></div>
      <div class="desc">
        <div class="iss">Web infrustructure design</div>
        <div clas="prjna">PRJ-1 - issue tracking</div>
      </div>
    </div>
    <div class="itlh">
  <div>Created</div>
  <div class="itemlh">
  <img class="itemlh" src="/static/img/pp.png">
</div>
    </div>
    </div></div><div class="item">
    <div class="itemrh">
      <div class="status"></div>
      <div class="desc">
        <div class="iss">Database design</div>
        <div clas="prjna">PRJ-1 - issue tracking</div>
      </div>
    </div>
    <div class="itlh">
  <div>Created</div>
  <div class="itemlh">
  <img class="itemlh" src="/static/img/pp.png">
</div>
    </div>
    </div></div>
</div>
  </div><div id="viewdd" style="display: none;">
    <div class="issues" id="xza">
  <h3>Today</h3>
  <div class="container">
  <div class="item">
    <div class="itemrh">
      <div class="status"></div>
      <div class="desc">
        <div class="iss">User interface design</div>
        <div clas="prjna">PRJ-1 - issue tracking</div>
      </div>
    </div>
    <div class="itlh">
  <div>Created</div>
  <div class="itemlh">
  <img class="itemlh" src="/static/img/pp.png">
</div>
    </div>
    </div><div class="item">
    <div class="itemrh">
      <div class="status"></div>
      <div class="desc">
        <div class="iss">Database edesign</div>
        <div clas="prjna">PRJ-1 - issue tracking</div>
      </div>
    </div>
    <div class="itlh">
  <div>Created</div>
  <div class="itemlh">
  <img class="itemlh" src="/static/img/pp.png">
</div>
    </div>
    </div><div class="item">
    <div class="itemrh">
      <div class="status"></div>
      <div class="desc">
        <div class="iss">Intergration with business central</div>
        <div clas="prjna">PRJ-1 - issue tracking</div>
      </div>
    </div>
    <div class="itlh">
  <div>Created</div>
  <div class="itemlh">
  <img class="itemlh" src="/static/img/pp.png">
</div>
    </div>
    </div></div>
</div>
  <div class="issues" id="xza">
  <h3>Yesterday</h3>
  <div class="container">
  <div class="container">
  <div class="item">
    <div class="itemrh">
      <div class="status"></div>
      <div class="desc">
        <div class="iss">Recruitment module</div>
        <div clas="prjna">PRJ-1 - Kephis ERP</div>
      </div>
    </div>
    <div class="itlh">
  <div>Created</div>
  <div class="itemlh">
  <img class="itemlh" src="/static/img/pp.png">
</div>
    </div>
    </div></div></div>
</div>
  </div><div id="stm" style="display: none;">
    <div class="issues" id="xza">
  <h3>Today</h3>
  <div class="container">
  <div class="item">
    <div class="itemrh">
      <div class="status"></div>
      <div class="desc">
        <div class="iss">User interface design</div>
        <div clas="prjna">PRJ-2 - Data visualization</div>
      </div>
    </div>
    <div class="itlh">
  <div>Created</div>
  <div class="itemlh">
  <img class="itemlh" src="/static/img/pp.png">
</div>
    </div>
    </div><div class="item">
    <div class="itemrh">
      <div class="status"></div>
      <div class="desc">
        <div class="iss">Requirement gathering</div>
        <div clas="prjna">PRJ-3 - XYZ-ERP system</div>
      </div>
    </div>
    <div class="itlh">
  <div>Created</div>
  <div class="itemlh">
  <img class="itemlh" src="/static/img/pp.png">
</div>
    </div>
    </div><div class="item">
    <div class="itemrh">
      <div class="status"></div>
      <div class="desc">
        <div class="iss">Intergration with business central</div>
        <div clas="prjna">PRJ-1 - issue tracking</div>
      </div>
    </div>
    <div class="itlh">
  <div>Created</div>
  <div class="itemlh">
  <img class="itemlh" src="/static/img/pp.png">
</div>
    </div>
    </div></div>
</div>
  <div class="issues" id="xza">
  <h3>This week</h3>
  <div class="container">
  <div class="container">
  <div class="item">
    <div class="itemrh">
      <div class="status"></div>
      <div class="desc">
        <div class="iss">Recruitment module</div>
        <div clas="prjna">PRJ-1 - Kephis ERP</div>
      </div>
    </div>
    <div class="itlh">
  <div>Created</div>
  <div class="itemlh">
  <img class="itemlh" src="/static/img/pp.png">
</div>
    </div>
    </div></div></div>
</div>
  </div><div id="strr" style="display: none;">
    <div class="issues" id="xza">
  
  <div class="container">
  <div class="item">
    <div class="itemrh">
      <div class="status"></div>
      <div class="desc">
        <div class="iss">User interface design</div>
        <div clas="prjna">PRJ-2 - Data visualization</div>
      </div>
    </div>
    <div class="itlh">
  <div>Created</div>
  <div class="itemlh">
  <img class="itemlh" src="/static/img/pp.png">
</div>
    </div>
    </div><div class="item">
    <div class="itemrh">
      <div class="status"></div>
      <div class="desc">
        <div class="iss">Requirement gathering</div>
        <div clas="prjna">PRJ-3 - XYZ-ERP system</div>
      </div>
    </div>
    <div class="itlh">
  <div>Created</div>
  <div class="itemlh">
  <img class="itemlh" src="/static/img/pp.png">
</div>
    </div>
    </div><div class="item">
    <div class="itemrh">
      <div class="status"></div>
      <div class="desc">
        <div class="iss">Intergration with business central</div>
        <div clas="prjna">PRJ-1 - issue tracking</div>
      </div>
    </div>
    <div class="itlh">
  <div>Created</div>
  <div class="itemlh">
  <img class="itemlh" src="/static/img/pp.png">
</div>
    </div>
    </div></div>
</div>
  
  </div>
  </section>
    </main>
