{% extends 'base.html' %}
{% load static %}
{% block head %}
<meta charset=utf-8>
<meta name=viewport content=width=device-width>
<title>ISSUE TICKETING AND TRACKING</title>
<link rel=stylesheet href={% static 'css/dashboard_header.css' %}>
<link rel=stylesheet href={% static 'css/dashboard.css' %}>
<link rel=stylesheet href={% static 'css/bheader.css' %}>
<link rel=stylesheet href={% static 'css/notif.css' %}>
<link rel=stylesheet href={% static 'css/notifications.css' %}>
<link rel=stylesheet href={% static 'css/openi.css' %}>
<link rel=stylesheet href={% static 'css/solve.css' %}>
<link rel=stylesheet href={% static 'css/priori.css' %}>
{% endblock head %}
{% block body %}
<header>
  {% include "header.html" %} 
</header>
<main>
  <header>
    <nav>
    {% include 'bodyh_developer.html' %}
    </nav>
  </header>
  <section>
    <aside>
      {% include 'body_aside.html' %}
    </aside>
    <main>
      {% include 'body_main.html' %}
    </main>
  </section>
  <div id=notif channel={{channel}}>
    <div id=notifcnt>4</div>
    <img src={% static 'img/icons/bell.png' %} alt="notif bell">
  </div>
</main>
<aside id="notifs">
  <button>Close</button>
</aside>
<div class="sisue">
  <div id="si">
    <label for=pr>Project</label>
    <div id=pr>Project name</div>
    <label for=md>Module</label>
    <div id=md>Module name</div>
    <label for=desc>Description</label>
    <div id=desc>Description</div>
    <div id=rform>
      <label for=cm>Comment</label>
      <textarea id=cm></textarea>
      <label for=ir>incident report</label>
      <textarea id=ir></textarea>
      <div id=rbs>
        <button>Close</button>
        <button>Resolve</button>
      </div>
    </div>
  </div>
</div>
{% endblock body %}
{% block scripts %}
  <script src={% static 'js/notif.js' %}></script>
  <script src={% static 'js/notifications.js' %}></script>
  <script src={% static 'js/open_esc.js' %}></script>
  <script src={% static 'js/priorie.js' %}></script>
{% endblock scripts %}
