<div id="openi">
  <div class="iop">
    <header>
    <h1>Header strip</h1>
  </header>
  <div class="iiop">
    <div class="ra">
      <header>
      <h1>Implement Third party authentication</h1>
      </header>
      <div class="idesc">
        <article>
        </article>
      </div>
      <div class="idescc">
        <h2>Description</h2>
        <p>Allow users to be authenticated using facebook OAUTH</p>
      </div>
      <div class="ac">
      </div>
      </div>
    <aside>
    </aside>
    </div>
  </div>
</div>
