<div class="header-strip">
        <div class="hitem">
            <div class="icon">
                <svg viewBox="0 0 24 24">
                    <path fill="currentColor" d="M12,2A10,10 0 0,0 2,12A10,10 0 0,0 12,22A10,10 0 0,0 22,12A10,10 0 0,0 12,2M10,17L5,12L6.4,10.6L10,14.2L17.6,7.4L19,8.8L10,17Z"></path>
                </svg>
            </div>
    <div class="sinfo">
            <div class="count">0 completed</div>
            <div class="label">in the last 7 days</div>
    </div>
        </div>
        <div class="hitem">
            <div class="icon">
                <svg viewBox="0 0 24 24">
                    <path fill="currentColor" d="M17,13H19V19H17V13M13,13H15V19H13V13M9,13H11V19H9V13M5,13H7V19H5V13M12,2C6.48,2 2,6.48 2,12C2,17.52 5.54,21.93 11,23V21C8.24,19.91 6,17.21 6,14A6,6 0 0,1 12,8A6,6 0 0,1 18,14C18,17.21 15.76,19.91 13,21V23C18.46,21.93 22,17.52 22,12C22,6.48 17.52,2 12,2Z"></path>
                </svg>
            </div>
            
            
        <div class="sinfo">
            <div class="count">3 updated</div>
            <div class="label">in the last 7 days</div>
    </div></div>
        <div class="hitem">
            <div class="icon">
                <svg viewBox="0 0 24 24">
                    <path fill="currentColor" d="M9,17A3,3 0 0,1 6,14A3,3 0 0,1 9,11A3,3 0 0,1 12,14A3,3 0 0,1 9,17M12,4.5C7,4.5 2.73,7.61 1,12C2.73,16.39 7,19.5 12,19.5C17,19.5 21.27,16.39 23,12C21.27,7.61 17,4.5 12,4.5Z"></path>
                </svg>
            </div>
    <div class="sinfo">
            <div class="count">2 created</div>
            <div class="label">in the last 7 days</div>
    </div>
        </div>
         <div class="hitem">
            <div class="icon">
                <svg viewBox="0 0 24 24">
                    <path fill="currentColor" d="M19,19V8H5V19A2,2 0 0,0 7,21H17A2,2 0 0,0 19,19M12,13A2,2 0 0,1 14,15A2,2 0 0,1 12,17A2,2 0 0,1 10,15A2,2 0 0,1 12,13M12,4A2,2 0 0,1 14,6A2,2 0 0,1 12,8A2,2 0 0,1 10,6A2,2 0 0,1 12,4Z"></path>
                </svg>
            </div>
    <div class="sinfo">
            <div class="count">1 due</div>
            <div class="label">in the next 7 days</div>
    </div>
        </div>
    </div>
