<div id="ppp">
  <header>
    <div id="strip1">
    <h2>Projects</h2>
    <button>Create project</button>
    </div>
    <input type="text" placeholder="Search project">
  </header>


  <div id="pta" class="table-container"><table class="projects-table">
 <thead>
   <tr class="table-header">
     <th>
       <button class="sort-button">Name</button>
      </th><th>
       <button class="sort-button">Project ID</button>
     </th>
     
      <th>
        <button class="sort-button">Type</button>
      </th>
      <th>
        <button class="sort-button">Lead
          
        </button>
       </th>
       <th>
         <button class="sort-button">Project URL
  
</button></th><th>
         <button class="sort-button">More Actions</button></th></tr></thead>


<tbody><tr class="table-row"><td class="table-cell row1">Issue Tracking module</td><td class="table-cell">PRJ-001</td><td class="table-cell">Software development</td><td class="table-cell rowusr">
  <div id="tui">
    <img src="/static/img/pp.png" width="24px" height="24px">
    kiptoo
  </div>
</td><td class="table-cell">
<url>Http://127.0.0.1:8089
  </url>
</td><td class="table-cell">
  <svg height="8" width="40">
    <circle fill="black" r="4" cy="4" cx="4"></circle><circle fill="black" r="4" cy="4" cx="20"></circle><circle fill="black" r="4" cy="4" cx="36"></circle>
       </svg>
</td></tr><tr class="table-row"><td class="table-cell row1">company XYZ ERP system</td><td class="table-cell">PRJ-002</td><td class="table-cell">Business Process re-engineering</td><td class="table-cell rowusr">
  <div id="tui">
    <img src="/static/img/pp.png" width="24px" height="24px">
    kiptoo
  </div>
</td><td class="table-cell">
<url>Http://127.0.0.1:8089
  </url>
</td><td class="table-cell">
  <svg height="8" width="40">
    <circle fill="black" r="4" cy="4" cx="4"></circle><circle fill="black" r="4" cy="4" cx="20"></circle><circle fill="black" r="4" cy="4" cx="36"></circle>
       </svg>
</td></tr></tbody>

</table></div>
</div>
