{% extends 'base.html' %}
{% load static %}
{% block head %}
<meta charset=utf-8>
<meta name=viewport content=width=device-width>
<title>ISSUE TICKETING AND TRACKING</title>
<link rel=stylesheet href={% static 'css/dashboard_header.css' %}>
<link rel=stylesheet href={% static 'css/dashboard.css' %}>
<link rel=stylesheet href={% static 'css/project.css' %}>
{% endblock head %}
{% block body %}
<header>
  {% include 'header.html' %}
</header>
<main>
  <section id=projects-assgn>
   <table>
    <caption><h3>Project-Issues overview</h3></caption>
    <thead>
      <th>ProjectId</th>
      <th>Name</th>
      <th>No.of Modules</a></th>
      <th>Start date</th>
      <th>Expected end date</th>
      <th>Total issues</th>
    </thead>
    <tbody>
      {% for project in projects %}
      <tr>
          <td>{{project.id}}</td>
          <td class="project">
            <a href="">{{project.project_title}}</a>
            <div class=prj>
              Description: {{project.description}}
            </div>
          </td>
          <td><a href="">{{project.modules}}</a>  <a href="">+</a></td>
          <td>{{project.start_date}}</td>
          <td>{{project.end_date}}</td>
          <td>{{project.issues}}</td>
      </tr>
      {% endfor %}
    </tbody>
   </table>
  </section>
  <h3>Module Based issue summary</h3>
  <section id=projectassgn>
    {% for module in modules %}
      <div>
        <div>project: <span>{{module.assoc_project}}</span></div>
        <div>Module: <span>{{module.title}}</span></div>
        <div>Unresolved Issues: <span>{{module.issues}}</span></div>
        <div>assigned_to:<a href="">{{module.assigned_to}}</a></div>
      </div>
    {% endfor %}
  </section>
</main>
{% endblock body %}
