<div class="issue-widget">
    <div class="header">
        <div class="icon">
            <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                <path d="M12 10c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2zm0-6c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2zm0 12c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2z"></path>
            </svg>
        </div>
        <div>
            <div class="title">Issuetracking</div>
            <div class="subtitle">Software project</div>
        </div>
    </div>

    <div class="quick-links">Quick links</div>

    <a href="#" class="issue-link">
        <span>My open issues</span>
        <span class="issue-count">0</span>
    </a>
    <a href="#" class="issue-link">Done issues</a>

    <div class="board-section">
    <div>
        <span class="board-count">1</span>
        <span>board</span>
    <div class="cs">
        <svg class="chevron-icon" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
            <path d="M7.41 8.59L12 13.17l4.59-4.58L18 10l-6 6-6-6z"></path>
        </svg>
    
    <div class="boardlist">
  <div>
    <div>TO DO</div>
    <div>In progress</div>
    <div>Done</div>
  </div>
    </div>
    </div>
        </div>
</div>
</div>
